<mat-tab-group>
  <mat-tab label="Personajes">
    <mat-card class="responsive-div" *ngFor="let c of characters">
      <mat-card-header>
        <mat-card-title>{{ c.firstName }} {{ c.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ c.family }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-card" [src]="c.imageUrl" alt="">
      <mat-card-content>
        <p>
          {{ c.title }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Continents">
    <div *ngFor="let c of continents">
      <h2>{{ c.name }}</h2>
    </div>
  </mat-tab>
</mat-tab-group>
